include ../modals/userCreateModal.html
include ../modals/userEditModal.html
include ../modals/userRemoveModal.html
.row
    h1 User Management
.panel.panel-default
    .panel-heading
        .row
            .col-md-6
                h2.panel-title
                  i.fa.fa-icon
                  | Current Users {{currentUsers}}
            .col-md-6
                a.def_btn.csv_export_btn(href="" ng-csv='usersCSV' filename="usersExport.csv")
                    i.fa.fa-file-text-o 
                    span Excel Export
                a.def_btn.add_mid_group_btn(href="" ng-click="open()" ng-controller="createUserModalCtrl") 
                    i.fa.fa-plus
                    span Add New User
    .panel-body
        table.table.ng-table-responsive.table-striped(st-table="shownUsers" st-safe-src="Users")
            thead
                tr
                  th(colspan="4")
                    input.form-control(st-search="" type="text" placeholder="Search all users")
                tr
                    th.st-header(st-sort="UserId") User Id
                    th.st-header(st-sort="UserName") User Name
                    th.st-header(st-sort="Email") Email
                    th.st-header-nosort Actions
            tbody
                tr(ng-repeat="User in shownUsers")
                    td {{User.UserId}}
                    td {{User.UserName}} 
                    td {{User.Email}}
                    td
                      .row_btn.turquoise_btn.margin-right(ng-click="open(User)" ng-controller="editUserModalCtrl")
                        i.fa.fa-edit
                        span Edit
                      .row_btn.alazarin_btn(ng-click="openIt(User)" ng-controller="removeUserModalCtrl")
                        i.fa.fa-trash
                        span Delete