<div class="col-md-6 nopad">
<div ng-controller="firstdateCtrl" class="daterangePick">
       
    <input type="text" ng-model="search_form.fromDate" class="form-control" datepicker-popup="{{format}}" is-open="opened" min-date="'minDate'" max-date="'maxDate'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="false" close-text="Close" placeholder="From Date   {{fromDate | date:'MM/dd/yy'}}" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
</div>
</div>

<div class="col-md-6">
<div ng-controller="secdateCtrl" class="daterangePick">
    
    <input type="text" ng-model="search_form.toDate" class="form-control" datepicker-popup="{{format}}" is-open="opened" min-date="'minDate'" max-date="'maxDate'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="false" close-text="Close" placeholder="To Date   {{toDate | date:'MM/dd/yy'}}" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
</div>
</div>



