<script type="text/ng-template" id="mockModalContent.html"><div class="modal-header"><h3 class="modal-title"><span class="subtle">Edit</span></h3><button type="button" ng-click="cancel()" class="close">x</button></div></script><!--.row.col-md-12
	table.table
		thead
			tr
				th ID
				th Company
				th Actions
		tbody
			tr(ng-repeat="worker in workers")
				td {{worker.id}}
				td {{worker.company}}
				td
					a.btn.btn-default(href="" ng-click="doEdit(worker)") Edit
					a.btn.btn-default(href="") Delete--><!--.rowh2 Users
	ul(ng-repeat="User in Users")
		li {{User.UserName}}
--><!--.row.col-md-12.jumbotron
	select.form-control(ng-options="User.company for User in workers" ng-model="selectedItem")
--><div class="row"><div class="col-md-12"></div></div>