doctype html
html(lang="en" ng-app="myApp")
    head
        meta(charset="UTF-8")
        title Tri-Portal Go
        link(href="bower_components/angular-loading-bar/src/loading-bar.css" rel="stylesheet")
        link(href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css")
        link(href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css")
        link(href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css")
        
        link(rel="stylesheet", type="text/css", href="bower_components/angular-wizard/dist/angular-wizard.css")
        link(href="styles/stylesheets/screen.css" rel="stylesheet" type="text/css")
    body(class="{{$state.current.name}}" ng-controller="indexCtrl")
        div(ui-view="")
    script(src="bower_components/angular/angular.js")
    script(src="bower_components/angular-ui-router/release/angular-ui-router.min.js")
    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/angular-loading-bar/build/loading-bar.min.js")
    script(src="bower_components/angular-local-storage/dist/angular-local-storage.min.js")
    script(src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")
    script(src="bower_components/angular-sanitize/angular-sanitize.min.js")
    script(src="bower_components/angular-smart-table/dist/smart-table.min.js")
    script(src="bower_components/angular-smart-table/dist/smart-table.debug.js")
    script(src="bower_components/angular-wizard/dist/angular-wizard.js")
    script(src="bower_components/lodash/dist/lodash.min.js")

    script(src="bower_components/angular-momentjs/angular-momentjs.js")
    script(src="bower_components/moment/min/moment.min.js")

    script(src="bower_components/zeroclipboard/dist/ZeroClipboard.min.js")
    script(src="bower_components/ng-clip/dest/ng-clip.min.js")
    script(src="bower_components/ng-csv/build/ng-csv.min.js")
      
    script(src="js/app.js")
    script(src="features/src/login/loginCtrl.js")
    script(src="features/src/app/appCtrl.js")
    script(src="features/src/search/searchCtrl.js")
    script(src="features/src/merchants/midsCtrl.js")
    script(src="features/src/merchants/groupsCtrl.js")
    script(src="features/src/vterminal/vterminalCtrl.js")
    script(src="features/src/usermanager/usermanagerCtrl.js")
    script(src="features/src/resetpass/resetCtrl.js")
    script(src="features/src/mock/mockCtrl.js")
    script(src="js/services/services.js")
    script(src="js/directives/directives.js")    