/* Colors */
$red:#fb5c3f;
$blue:#447dc0;
$skyblue:#f1f8fe;
$midblue:#62a3d9;
$green:#60bb52;


$green:#6fb500;

$dark:#25292a;
$middark:#2a2e2f;
$softbase:#f3f5f5;
$midgray:#525b5d;
$gray:#bbbec7;

/* INTUIT COLORS */
$in_bluemid:#007da9;
$in_blue:#0098cd;
$in_bluedark:#193048;
$in_yellow:#f2b835;

/* Flat UI Colors */
$ali:#E74C3C;
$carrot:#E67E22;
$turq:#1ABC9C;
$sunflower:#F1C40F;
$orange:#F39C12;
$river:#3498DB;
$belize:#2980B9;


$turquoise:#1abc9c;
$greensea:#16a085;

$emerald:#2ecc71;
$nephritis:#27ae60;

$peterriver:#3498db;
$belizehole:#2980b9;

$amethyst:#9b59b6;
$wisteria:#8e44ad;

$wetasphalt:#34495e;
$midnightblue:#2c3e50;

$sunflower:#f1c40f;
$orange:#f39c12;

$carrot:#e67e22;
$pumpkin:#d35400;

$alizarin:#e74c3c;
$pomegranate:#c0392b;

$clouds:#ecf0f1;
$silver:#bdc3c7;

$concrete:#95a5a6;
$asbestos:#7f8c8d;