/* LOADING BAR */
/*
#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;

  background: #29d;
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}
*/
.error {
    color:$pomegranate;
    display:none;
}
/* Login */
.login_box {
    background:#eee;
    background:none;
    border-top:3px solid $blue;
    border-bottom:3px solid $blue;
    color:#fff;
    max-width:400px;
    margin:0 auto;
    padding:15px 40px;
}
.forgot {
    display:inline-block;
    margin-top:15px;
}
.login,.reset, .reset_email, .reset_password,.reset_success {
    background:$dark;
    .login_panel {
    margin-top:12%;
    .main-icon {
        color: rgba($midblue,0.6);
        padding: 10px 18px;
        background: #fff;
        border-radius: 237px;
        margin-bottom: 30px;
        box-shadow: inset 1px 2px 2px 1px #555;
    }
    input {
        border:0px;
        color:#333;
        border-radius:0px;
        background:#fff;
        height:50px;
        position:relative;
        margin:5px 0;
        &:focus {
            box-shadow:none;
            &:after {
                background:#999;
                content:'';
                position:absolute;
                width:10px;
                height:10px;
            }
        }
    }
    .login-logo {
        margin-bottom:30px;
    }
}
.login_error_msg {
    height:15px;
    color:$red;
}
.user_help {
    font-size:16px;
    line-height:1.6;
    span {
        a {
            margin-left:10px;
        }
    }
}
section.copyright {
    margin-top:30px;
    text-align:center;
    p {
        color:#ccc;
        font-size:14px;
        margin-bottom:5px;
    }
}
.login_dash {
    p {
        font-size:13px;
        margin:0px 0 10px 0;
    }
}


// SUBMIT BTN
button[type="submit"] {
    background:$blue;
    border-radius:0px;
    border:0px;
    min-height:55px;
    text-transform:uppercase;
}



} // END login

//////////
// RESET
//////////
.reset,.reset_email,.reset_success {
    p.reset_info {
        font-size:15px;
        line-height:1.6;
        .highlight{
            text-decoration:underline;
        }
    }
}
.reset {
    .login_error_msg {
        margin-top:10px;
    }
}
////////////////////////////
// RESET EMAIL CONFIRMATION
////////////////////////////
.reset_email,.reset_success {
    .success  {
        background:$greensea;
        color:#fff;
        font-size:18px !important;
        padding:12px 0;
    }
}
////////////////////////////
// RESET EMAIL SUCCESS
////////////////////////////
.reset_success {
    a.backtoLogin {
        background: #447dc0;
        border-radius: 0;
        border: 0;
        min-height: 55px;
        text-transform: uppercase;
        line-height:3;
    }
    .success {
        /*
        background:none;
        color:$greensea;
        */
        margin-bottom:15px;
        margin-top:15px;
    }
    .success+p {
        margin-bottom:60px;
    }
}
////////////////////////////
// RESET PASSWORD
////////////////////////////
.reset_password {
    .user_help, .user_help_pass {
        display:none;
        p {
            margin-top:15px;
        }
    }
}