<script type="text/ng-template" id="merchantEditContent.html">
<div class="modal-header">
	<h3 class="modal-title"><span class="subtle">Edit Merchant Account : </span>{{merchant.Name}}</h3>
    <button type="button" class="close" ng-click="cancel()">x</button>
 </div>

 <div class="modal-body">
 	
 	<form name="merchantEditForm">

 	<div class="row">
 	<div class="col-md-6">
	 	<p>Merchant Group Name</p>
	 	<input type="text" class="form-control" value="{{merchant.Name}}" id="merchantFormName">
 	</div>
 	<div class="col-md-6">
 		<!--
	 	<p>Cap Value</p>
	 	<select class="form-control" value="{{merchant.CapNotificationThreshold}}" id="merchantFormCap">
	 		<option>10</option>
	 		<option>20</option>
	 	</select>
	 	-->
 	</div>
 	</div>

 	<div class="row">
 	<div class="col-md-6">
	 	<p>Balancing Type</p>
	 	<select class="form-control" id="merchantFormBalancingType">
	 		<option value="none">None</option>
	 		<option value="priority" {{isSelected}}>priority</option>
	 		<option value=2>2</option>
	 	</select>
 	</div>
 	<div class="col-md-6">
	 	<p>Notification Emails</p>
	 	<input type="text" class="form-control" value="{{merchant.CapLimitNotificationEmails}}" id="merchantFormEmail">
 	</div>
 	</div>

 	<div class="row">
 	<div class="col-md-6">
	 	<p>Currency</p>
	 	<input type="text" class="form-control" value="{{merchant.Currency.Name}}">
 	</div>
 	</div>


 	<div class="merchant_feedback">
	    <p class="p-title">Confirm New Merchant Details</p>
	    <a href="" class="save_btn" ng-click="confirmMerchantUpdate(merchant.Id)">Save</a>
	    <a class="remove_btn" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()">Cancel</a>
	</div>

	<div class="userCreateSuccess">
		<p>Merchant Account Updated</p>
	</div>

 	</form>
 </div>

 <div class="modal-footer">
    <a href="" class="create_btn" ng-click="submitMerchantUpdate()">Update</a>
    <a href="" class="cancel_btn" ng-click="cancel()">Exit</a>
</div>
</script>