<script type="text/ng-template" id="merchantCreateContent.html">
<div class="modal-header">
    <h3 class="modal-title subtle"><span class="subtle">Create Merchant Group</subtle></h3>
    <button type="button" class="close" ng-click="cancel()">x</button>
</div>
<div class="modal-body">
    <form role="form" class="merchantCreateForm" name="merchantCreateForm" ng-submit="ok()" novalidate>
        
       <div class="row">
        <div class="col-md-6">
            <p>Merchant Name</p>
            <input type="text" class="form-control" placeholder="Enter Custom Group Name" id="merchantGroupName">
        </div>
        <div class="col-md-6">
            <p>Currency</p>
           
            <select class="form-control" id="Currency">
                <option>Select A Currency</option>
                <option value=0>USD</option>
                <option value=3>AUD</option>
                <option value=4>CAD</option>
                <option value=5>DKK</option>
                <option value=2>EUR</option>
                <option value=1>GBP</option>
                <option value=7>JPY</option>
                <option value=8>NOK</option>
                <option value=6>NZD</option>
                <option value=9>SEK</option>
                <option value=6>NZD</option>
                <option value=11>SGD</option>
            </select>
        </div>
        </div>

        <div class="row">
        <div class="col-md-6">
            <p>Balancing Type</p>
            <select class="form-control" id="BalancingType">
                <option value=0>None</option>
                <option value=1>Cap</option>
                <option value=2>Priority</option>
            <select>
        </div>
        <div class="col-md-6">
            <p>Email for Notification</p>
            <input type="text" class="form-control" placeholder="Enter Emails Here" id="MerchantEmail">
        </div>
        </div>

    

    <div class="merchant_feedback">
            <p class="p-title">Confirm New Merchant Details</p>
            <a href="" type="submit" class="save_btn" ng-click="ok()">Save</a>
    </div>
    
    <div class="userCreateSuccess">
        <p>Merchant Account Created</p>
    </div>


    </form>

<div class="nameError">
            <p>{{createErrorMsg}}</p>
    </div>


</div>

 <div class="modal-footer">
            <a href="" class="row_btn turquoise_btn margin-right" ng-click="submitUserCreate()"><i class="fa fa-plus"></i><span>Create</span></a>
            <a href="" class="row_btn peter_river_btn" ng-click="cancel()"><i class="fa fa-sign-out"></i><span>Exit</span></a>
</div>
</script>