<script type="text/ng-template" id="midsConfirmModalContent.html">
<div class="modal-header">
    <h3 class="modal-title"><span class="subtle">Remove MID: </span> {{mid.DisplayName}}</h3>
    <button type="button" class="close" ng-click="cancel()">x</button>
</div>
<div class="modal-body">
    <p class="text-center">Are you sure you want to remove?</p>
    <h2 class="text-center">{{mid.DisplayName}}</h2>
</div>

<div class="userCreateSuccess">
    <p>MID Successfully Remove</p>
</div>

<div class="modal-footer action_group">
    <a href="" class="cancel_btn" ng-click="removeMID($index,mid)">Confirm</a>
    <a href="" class="cancel_btn" ng-click="cancel()">Exit</a>
</div>

</script>