    <script type="text/ng-template" id="transModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title"><span class="subtle">Transaction Details:</span> {{trans.TransactionId}} <span class="subtle">Name:</span> {{trans.FirstName}} {{trans.LastName}}</h3>
            <button type="button" class="close" ng-click="cancel()">x</button>
        </div>
        <div class="modal-body sale_info">
           
        <div ng-controller="TabsDemoCtrl">

      <tabset justified="true">
        <tab heading="Sale Information">
     
        <div class="row">
        <div class="col-md-6">
            <p><span>Transaction ID:</span>{{trans.TransactionId}}</p>
            <p><span>Mid Display Name:</span>{{trans.MidDisplayName}}</p>
            <p><span>Transaction Type:</span>{{trans.Type}}</p>
            <p><span>Amount:</span>{{trans.Amount | currency}} {{trans.Currency}}</p>
            <p><span>Response:</span>{{trans.ResponseDescription}}</p>
            <p><span>Request Date:</span>{{trans.RequestDate}}</p>
            <p><span>API User:</span>{{trans.ApiUser}}</p>
            <p><span>Reference Number:</span>{{trans.ReferenceNumber}}</p>
            <p><span>Authorization Code:</span>{{trans.AuthorizationCode}}</p>
            <p>&nbsp;</p>
        </div>
        <div class="col-md-6">
            <p><span>First Name:</span>{{trans.FirstName}}</p>
            <p><span>Last Name:</span>{{trans.LastName}}</p>
            <p><span>Email:</span>{{trans.Email}}</p>
            <p><span>IP:</span>{{trans.Ip}}</p>
            <p><span>Billing Address:</span>{{trans.BillingAddress}}</p>
            <p><span>Billing Address:</span>{{trans.BillingAddress2}}</p>
            <p><span>Billing City:</span>{{trans.BillingCity}}</p>
            <p><span>Billing Zip:</span>{{trans.BillingZip}}</p>
        </div>
        </div>

        <div class="row past_info">
        <div class="col-lg-12">
          <p><span>Original MID Transaction Number:</span>{{trans.OriginalMidTransactionNumber}}<span class="subtle" ng-show="trans.OriginalMidTransactionNumber == ''">No original MIDe</span></p>
          <p><span>Previous Transaction Sent:</span>{{trans.PreviousTransactionNumberSent}}<span class="subtle" ng-show="trans.PreviousTransactionNumberSent == ''">No previous transaction</span> </p>
          <p><span>Authorization Code Sent:</span>{{trans.AuthorizationCodeSent}}<span class="subtle" ng-show="trans.AuthorizationCodeSent == ''">No authorization code</span> </p>
        </div>
        </div>

        </tab>
        <!-- No chargeback as of this time on this modal
        <tab heading="chargeback">

        <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <span>Chargeback Status</span>
            <select class="form-control">
                <option>Disputed</option>
                <option>Declined</option>
            </select>

            <span>Chargeback Status</span>
            <select class="form-control">
                <option>--Select--</option>
                <option>Declined</option>
            </select>

            <span>Case #:</span>
            <input type="text" class="form-control">

            <span>ARN #</span>
            <input type="text" class="form-control">

        </div>
        </div>


        </tab>
        
        <tab heading="fraud info">
            <div class="row">
                <div class="col-md-6">
                    <p><span>Risk Score:</span>{{transaction.fraud_info.risk_score}}</p>
                    <p><span>Free Mail:</span>{{transaction.fraud_info.free_mail}}</p>
                    <p><span>Carder Email:</span>{{transaction.fraud_info.carder_email}}</p>
                    <p><span>Explanation:</span></p>
                    <p><span>Bin Match:</span>{{transaction.fraud_info.bin_match}}</p>
                    <p><span>Bin Country:</span>{{transaction.fraud_info.bin_country}}</p>
                    <p><span>Bin Name:</span>{{transaction.fraud_info.bin_name}}</p>
                    <p><span>Phone:</span>{{transaction.fraud_info.bin_phone}}</p>
                </div>
            </div>
        </tab>
      </tabset>
    </div> 
    -->
        </div>
        <div class="modal-footer">
             <a href="" class="cancel_btn" ng-click="cancel()">Exit</a>
             <!--<a href="" ng-click="ok()">Save</a>-->
        </div>

    </script>