<script type="text/ng-template" id="userRemoveContent.html">
	<div class="modal-header">
		<h3 class="modal-title"><span class="subtle">Remove User: </span> {{user.UserName}}</h3>
	    <button type="button" class="close" ng-click="cancel()">x</button>
	 </div>

		<div class="modal-body">
		    <p class="text-center">Are you sure you want to remove?</p>
		    <h2 class="text-center">{{user.UserName}}</h2>
		</div>

		<div class="userCreateSuccess">
		    <p>User Successfully Remove</p>
		</div>

	<div class="modal-footer action_group">
	    <a href="" class="cancel_btn" ng-click="removeUser()">Confirm</a>
	    <a href="" class="cancel_btn" ng-click="cancel()">Exit</a>
	</div>

</script>