.row.login_panel.login_dash
    .text-center.fa-2x.login_box
        form.form
            p.login-logo 
                 img(src="../../images/logo.png")
            h2.success Success
            p Password Settings Updated
            //p.reset_info Some info here

            a.backtoLogin.btn.btn-primary.form-control(ng-click="backToLogin()") Back To Login
            
    section.copyright
        p copyright &copy; 2014 Trangle Holdings Limited d/b/a
        p Triangle Payments. All Rights Reserved.